Question Classifier + Knowledge + Chatbot .yml
app:
  description: Tesla Cybertruck RAG or Retrieval-Augmented Generation system - Used
    to prevent or minimize  hallucinations
  icon: face_with_monocle
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 'Question Classifier + Knowledge + Chatbot '
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1711528768556-1711528802931
      selected: false
      source: '1711528768556'
      sourceHandle: source
      target: '1711528802931'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: 1711528802931-1711528833796
      selected: false
      source: '1711528802931'
      sourceHandle: source
      target: '1711528833796'
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1711528708197-source-1759775401965-target
      selected: false
      source: '1711528708197'
      sourceHandle: source
      target: '1759775401965'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1759775401965-1-1711528768556-target
      selected: false
      source: '1759775401965'
      sourceHandle: '1'
      target: '1711528768556'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1759775401965-2-1711528775142-target
      selected: false
      source: '1759775401965'
      sourceHandle: '2'
      target: '1711528775142'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Define the initial parameters for launching a workflow
        selected: false
        title: Start
        type: start
        variables: []
      height: 180
      id: '1711528708197'
      position:
        x: 30
        y: 451.5
      positionAbsolute:
        x: 30
        y: 451.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - bicr0g9KNy6Yfy2BykatTa8BnbqqGK6/A7WlnRzN+Y31HLx/Dxjs1Zxq+9bh+Xw/
        desc: 'Retrieve knowledge on after sales SOP. '
        query_variable_selector:
        - '1711528708197'
        - sys.query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: 'Knowledge Retrieval '
        type: knowledge-retrieval
      dragging: false
      height: 212
      id: '1711528768556'
      position:
        x: 634
        y: 451.5
      positionAbsolute:
        x: 634
        y: 451.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Sorry, I can't help you with that questions. Im only here to support
          the Cybertruck.
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 287
      id: '1711528775142'
      position:
        x: 634
        y: 703.5
      positionAbsolute:
        x: 634
        y: 703.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528768556'
          - result
        desc: ''
        memory:
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: 'Use the following context as your learned knowledge, inside <context></context>
            XML tags.

            <context>

            {{#context#}}

            </context>

            When answer to user:

            - If you don''t know, just say that you don''t know.

            - If you don''t know when you are not sure, ask for clarification.

            Avoid mentioning that you obtained the information from the context.

            And answer according to the language of the user''s question.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      dragging: false
      height: 161
      id: '1711528802931'
      position:
        x: 936
        y: 451.5
      positionAbsolute:
        x: 936
        y: 451.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1711528802931.text#}}'
        desc: Display Answer
        selected: false
        title: Answer 2
        type: answer
        variables:
        - value_selector:
          - '1711528802931'
          - text
          variable: text
      dragging: false
      height: 206
      id: '1711528833796'
      position:
        x: 1238
        y: 451.5
      positionAbsolute:
        x: 1238
        y: 451.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: Questions related to the Tesla Cybertruck or support when needed/
        - id: '2'
          name: Unable to answer that
        desc: 'Ask me anything about the Tesla Cybertruck

          '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1711528708197'
        - sys.query
        selected: false
        title: Question Classifier
        type: question-classifier
        vision:
          enabled: false
      height: 503
      id: '1759775401965'
      position:
        x: 332
        y: 451.5
      positionAbsolute:
        x: 332
        y: 451.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -235.29999999999995
      y: 130.85000000000002
      zoom: 0.7
  rag_pipeline_variables: []
